name = "saavy-uptime"
main = "apps/backend/build/index.js"
compatibility_date = "2025-11-11"
workers_dev = false

[vars]
ACCESS_TEAM_DOMAIN = "https://saavylab.cloudflareaccess.com"
ACCESS_AUD = "e8604f5d9df109c391b937c4293c06fa76548def743a48fec18da93e0ddddeda"

[build]
command = "cargo install worker-build && worker-build --release"

[[durable_objects.bindings]]
name = "TICKER"
class_name = "Ticker"
script_name = "saavy-uptime"

[[d1_databases]]
binding = "DB"
database_name = "saavy_uptime_dev"
database_id = "00000000-0000-0000-0000-000000000000"
migrations_table = "d1_migrations"
migrations_dir = "apps/backend/migrations"

[[analytics_engine_datasets]]
binding = "AE"
dataset = "saavy_uptime_dev"

[[r2_buckets]]
binding = "ARCHIVE_BUCKET"
bucket_name = "saavy-uptime-dev"

[env.preview]
workers_dev = true

[[env.preview.d1_databases]]
binding = "DB"
database_name = "saavy_uptime_preview"
database_id = "00000000-0000-0000-0000-000000000000"

[[env.preview.analytics_engine_datasets]]
binding = "AE"
dataset = "saavy_uptime_preview"

[[env.preview.r2_buckets]]
binding = "ARCHIVE_BUCKET"
bucket_name = "saavy-uptime-preview"

[env.production]

[[env.production.d1_databases]]
binding = "DB"
database_name = "saavy_uptime"
database_id = "00000000-0000-0000-0000-000000000000"

[[env.production.analytics_engine_datasets]]
binding = "AE"
dataset = "saavy_uptime"

[[env.production.r2_buckets]]
binding = "ARCHIVE_BUCKET"
bucket_name = "saavy-uptime"
